
#header {
    background-color: rgb(25, 186, 186);
    color: #ffffff;
    font-size: 40px;
    padding-left: 40px;
  }

h1 {
  display: inline;
}

h2 {
  float: right;
  margin: 10px;
}

h3 {
  font-size: 25px;
}

.list {
  margin: 100px 45%;
}

li {
  margin: 30px;
  list-style-type: square;
}